@use '@angular/material' as mat;
@use 'styles/variables';
@use 'styles/theme';
@use 'styles/layout';

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$orange-palette,
        tertiary: mat.$cyan-palette,
        theme-type: dark,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}
